body {
  font-family: Arial, sans-serif;
  background: #f3f4f6;
  margin: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: white;
  padding: 30px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  text-align: center;
}

.card input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.card button {
  width: 100%;
  padding: 10px;
  background: #4f46e5;
  color: white;
  border: none;
  cursor: pointer;
}

.hint {
  font-size: 12px;
  color: #777;
}

.chat-container {
  max-width: 450px;
  height: 90vh;
  margin: auto;
  background: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.chat-header {
  background: #4f46e5;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px 10px 0 0;
}

.chat-header span {
  cursor: pointer;
  font-size: 14px;
}

.chat-box {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.message {
  margin-bottom: 10px;
  padding: 8px 12px;
  border-radius: 6px;
  max-width: 80%;
}

.user {
  background: #e0e7ff;
  align-self: flex-end;
}

.bot {
  background: #f1f5f9;
  align-self: flex-start;
}

.chat-input {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.chat-input input {
  flex: 1;
  padding: 10px;
}

.chat-input button {
  padding: 10px 15px;
  background: #4f46e5;
  color: white;
  border: none;
}
